.container
    position: relative
    display: flex
    align-items: center
    justify-content: center
    width: 33%
    margin: 4rem 0 0 0
.figure
    margin: 1rem
    padding: 0
    width: 4rem
    position: relative
.img
    width: 100%
.txt
    font-weight: bold