.container
    position: relative
    display: flex
    align-items: center
    justify-content: center
    width: 33%
.figure
    margin: 1rem
    padding: 0
    width: 4rem
    position: relative
.img
    width: 100%
.txt
    font-weight: bold