.container
    position: relative
    display: flex
    align-items: center
    justify-content: center
    width: 33%
    cursor: pointer
.figure
    margin: 1rem
    padding: 0
    width: 5rem
    height: 5rem
    position: relative
    transition: 0.2s ease-out
.txt
    font-weight: bold
    transition: 0.2s ease-out
.container:hover .figure
    transform: scale(1.2) translateX(2rem)
.container:hover .txt
    transform: translateX(100%)
    opacity: 0
@media screen and ( max-width:  900px)
    .container
        width: auto
    .figure
        margin: 0 1rem 0 1rem
        width: 10rem
        height: 10rem