.container
    width: 100%
    display: flex
    flex-direction: column
    border-radius: 2rem 0 0 2rem
.section
    display: flex
    justify-content: center
    align-items: center
    position: relative
.graphContainer
    width: 45%
    position: relative
    border-radius: 2rem
    margin: 1rem
    padding: 1rem 2rem 2rem 2rem
@media screen and ( max-width:  900px)
    .section
        flex-direction: column
    .graphContainer
        width: 95%
