.container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
.figure
    margin: 2rem
    padding: 1rem
    border-radius: 1.5rem
    width: 6rem
    position: relative
    box-shadow: 0 0.5rem 0.8rem #000
.img
    width: 100%
.title
    font-size: 0.8rem
    font-weight: bold