.container
    display: flex
    position: relative
    flex-direction: column
    justify-content: center
    border-radius: 1rem
    margin: 1rem
    padding: 2rem
    width: 30%
.figure
    margin: 0
    width: 2rem
    height: 2rem
    position: relative
.img
    width: 100%
.titre
    margin: 0 0 1rem 0
    font-size: 1rem
    transition: 0.2s ease-out
.container:hover .titre
    margin: 0 0 1rem 2rem
.p
    font-size: 0.8rem
    min-height: 2rem
@media screen and ( max-width:  900px)
    .container
        width: 66%